

<h2>Welcome to Classroom App!</h2>

<h3> <%= link_to "Login", new_session_path %> </h3>

<h3> <%= link_to "Teacher Signup", new_teacher_login_path %> </h3>

<h3> <%= link_to "Student Signup", new_student_login_path %> </h3>
