<h3>Course Catalogue</h3>

<% @courses.each do |course| %>
<li><%= course.name %></li>
<% end %>
 <% if @user.role_is?(Student) %>
 <br>
 <%= link_to "Enroll In Course", new_enrollment_path %>
 <% end %>
 <%= link_to "Return to your profile", profiles_path(@user) %>
