<h2>Student Page</h2>

<h3> Welcome <%= @user.name %>! </h3>
<h4>Your courses:</h4>
<% @user.role.courses.each do |course| %>

<p><%= course.name %></p>
<% end %>
<br>
<%= link_to "View Course Catalogue", courses_path %>
<br>
<%= link_to "Log Out", session_path(@user), method: "delete" %>
